body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 85%;
    margin: 8px 120px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.logo {
    width: 80px;
    height: auto;
}
.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 25px;
}
.nav {
    border: 3px solid transparent;
    color: black;
    text-decoration: none;
}
.nav:hover {
    color: dodgerblue;
}
.icon {
    width: auto;
    height: 20px;
}
button {
    background-color: transparent;
    border: none;
}
button:hover {
    cursor: pointer;
}
.rate {
    width: 20px;
}
.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    width: 250px;
    height: 300px;
    border-radius: 8px;
}
.product-img {
    width: 200px;
}
.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 65px;
    margin: 35px auto;
}
.flex-container {
    display: flex;
    column-gap: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 80px 0;
}
h1 {
    font-size: 35px;
    color: black;
    line-height: 40px;
}
hr {
    width: 45px;
    height: 2px;
    border: none;
    background-color: darkred;
    text-align: left;
    margin: 0 0 8px 0;
}